* {
    color: rgb(255, 255, 255);
    margin: 5px;
    padding: 2px;
}

/* font and text css */

h1 {
    font-size: 44pt;
    color: rgb(0, 102, 255);
    font-family: 'Trade Winds', cursive;
    
}
h2 {
    font-size: 38pt;
    color: rgb(0, 128, 255);
    font-family: 'Trade Winds', cursive;
}
h4,h5,h6 {
    font-family: 'Courgette', cursive;
}
h3 {
    font-size: 32pt;
    font-family: 'Trade Winds', cursive;
}
h4 {
    font-size: 28pt;
}
h5 {
    font-size: 20pt;
}
h6 {
    font-size: 16pt;
}
p {
    font-family: 'Indie Flower', cursive;
    color: rgb(0, 0, 204);
    font-size: 12pt;

}
body {
    background-color: rgb(0, 0, 0);
    background-image: url(/Images/blk-leather.jpg);
    background-repeat: no-repeat;
}

header > img {
    width: 150px;
    height: 150px;
    border: 1px darkred solid;
    float: left;
    margin: 5px;
}

header {
    border: 1px darkred solid;
    background-image: url(/Images/boards.jpg);
    background-repeat: no-repeat;
    margin-bottom: 5px;
    max-height: 175px;
    float: fixed;

}
footer {
    display: inline;
}
#footleft {
    float: left;
    width: 400px;
}
#footright {
    float: right;
    width: 400px;
}
header> nav> ul> li {
    display: inline;
    margin: 5px;
    padding: 10px;
}

nav {
    margin-top:85px;
}

.listing > img {
    width:250px;
    float: left;

}

section {
    background-image: url(/Images/Light\ parchment.jpg);
    background-repeat: no-repeat;
    border: 2px darkred solid;
    margin: 5px auto;
    width: 980px;
    float: center;
}
.listing {
    height: 300px;
}
p #givenname {
    visibility: hidden;
}

section > .adopttop {
    height: 400px;
}

.dragonphoto {
    width: 225px;
}

article > .anote {
    max-width: 300px;
    max-height: 600px;
    background-color: url(/Images/Light\ parchment.jpg);
    border: 5px rgb(0,0,0) solid;
}







/* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }
