* {
    color: rgb(255, 255, 255);

}
body {
    background-color: rgb(0, 0, 0);
    background-image: url(/Images/blk-leather.jpg);
    background-repeat: no-repeat;
}

header > img {
    width: 150px;
    height: 150px;
    border: 1px darkred solid;
    float: left;
    margin: 5px;
}

header {
    border: 1px darkred solid;
    margin: 5px;
    max-height: 175px;
}

header> nav> ul> li {
    display: inline;
    margin: 5px;
    padding: 10px;
}

nav {
    margin-top:85px;
}

section > img {
    width:250px;

}

section {
    background-image: url(/Images/Light\ parchment.jpg);
    background-repeat: no-repeat;
    border: 2px darkred solid;
    margin: 
}